<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar class="color" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon class="botones" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="/assets/02.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Bienvenido a RecycleApp</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      En esta aplicación te enseñaremos a como reciclar y evitar contaminar, de esta forma le estarás
      haciendo un gran favor al planeta.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/01.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">¿En qué consiste el reciclaje?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      El reciclaje consiste en un proceso donde los distintos residuos o materiales desechados son recolectados para
      luego ser transformados en nuevos materiales que pueden ser utilizados o comercializados como nuevos productos o
      como materia prima de empresas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/09.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Motivos por los que debes Reciclar</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      Se puede construir un futuro mas verde e inclusivo, conservando gran parte de los recursos naturales, reduciendo
      asi el consumo energetico. Por ejemplo; los plasticos reciclados suponen un ahorro del 70%.<br>
      Disminuyendo las emisiones de Co2, gracias a los materiales reciclados, siendo equivalentes a retirar de la
      circulacion
      cinco millones de automoviles.<br>
      Se generarian menos vertederos, abriendo as ila posibilidad de crear mas areas verdes.<br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/04.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">¿Que ventajas tiene reciclar?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      El reciclaje de los residuos urbanos produce ventajas y beneficios económicos y sociales para toda la sociedad,
      así como ayudar a disminuir la contaminación ambiental. Algunas ventajas son: <br>
      -Reduce la contaminación. <br>
      -Se promueve el pensamiento crítico de una nueva sociedad de consumo. <br>
      -Genera nuevos empleos. <br>
      -Se reduce el transporte de la recolección de basura. <br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/03.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">¿Que materiales se pueden reciclar?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      Empecemos con lo básico, los materiales que se pueden reciclar en su mayoría son:
      Plastico, Vidrio, Papel, Carton, Aluminio, Metales y Desperdicios orgánicos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/05.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">¿De que manera se puede reciclar?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      Se debe tener en cuenta que para poder comenzar a reciclar los residuos deben estar
      limpio, secos y libres de material orgánicos, continuando por depoditar cada uno de
      los residuos en su correspondiente bote de papel, plastico, vidrio y carton.
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light" href="https://www.facebook.com/" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="https://www.instagram.com/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="https://github.com/BastyRioT/Exp3_AlvaradoHidalgo_002D" target="_blank">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar class="color">
    <div class="footer-buttons">
      <ion-buttons slot="start">
        <ion-button id="changeText" routerLink="/noticias">
          <div class="button-content">
            <ion-icon class="botones" name="newspaper"></ion-icon>
            <div class="button-label">Noticias</div>
          </div>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button id="changeText" routerLink="/contenido">
          <div class="button-content">
            <img src="/assets/logonav.png">
          </div>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button id="changeText" routerLink="/logout">
          <div class="button-content">
            <ion-icon class="botones" name="log-out"></ion-icon>
            <div class="button-label">Salir</div>
          </div>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>