<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar class="header" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button class="botones" text="Atrás">
      </ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="centerbaloo" style="text-align: center; color: white;"> ¡Guía sobre Contenedores y Puntos de Reciclaje!
  </h1>


  <ion-card>
    <ion-img src="/assets/amarillo.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Contenedor Amarillo
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      ENVASES METÁLICOS <br>
      Latas de conservas y bebidas,
      bandejas de aluminio, aerosoles,
      tapones metálicos de botellas y
      tapas de los frascos. <br><br>
      CAJAS <br>
      Cajas de zumos, leche, vino,
      batidos, caldos, gazpacho, etc. <br><br>
      ENVASES DE PLÁSTICO <br>
      Botellas de agua, refrescos y leche.
      Productos de limpieza. Geles de
      baño, colonias y champú. Bolsas
      de congelados. Tarrinas de
      mantequilla y yogures. Bandejas
      de corcho blanco, envoltorios de
      plástico, bolsas de aperitivos y
      golosinas y las bolsas de plástico.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/amarillono.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Que NO depositar al contenedor amarillo
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      NUNCA deposites en el contenedor AMARILLO
      ropa, vidrio, cartón, orgánicos u otros objetos
      que no sean envases.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/azul.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Contenedor Azul</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      ENVASES DE CARTÓN <br>
      Puedes reutilizar las bolsas de papel que te dan en las tiendas para guardar
      los envases de cartón, bien plegados, y llevarlo todo al contenedor azul.
      Todos los envases de cartón que
      usamos se pueden reciclar: cajas
      de galletas, de cereales, de
      zapatos, de productos congelados,
      hueveras de cartón, etc. <br><br>
      TODO TIPO DE PAPEL <br>
      Periódicos, libros, revistas y bolsas
      de papel.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/azulno.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Que NO depositar al contenedor azul
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      NUNCA deposites en el contenedor AZUL
      papel de aluminio, briks, pañales, servilletas y pañuelos de papel
      sucios, cartón y papel manchados de grasa o aceite.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/verde.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Contenedor Verde</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      ENVASES DE VIDRIO <br>
      Aquí puedes depositar cualquier
      botella de vidrio, los frascos de
      cosmética y de colonia. También
      los tarros de mermelada y de
      conservas. <br><br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/verdeno.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Que NO depositar al contenedor verde
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      NUNCA deposites en el iglú VERDE
      bombillas, tubos fluorescentes, porcelana, cerámica, cristal
      de ventanas o espejos, vasos, copas de cristal, tapones, corchos,
      tapas metálicas de los envases de vidrio, etc.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/organico.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Contenedor Orgánico</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      RESIDUOS BIODEGRADABLES <br>
      Todos los residuos biodegradables
      de alimentos como cáscaras y
      pieles de frutas, restos de carnes,
      pescados, verduras, posos de café,
      restos de infusiones, etc. <br><br>
      DESECHOS ORGÁNICOS <br>
      Depositaremos también en este
      contenedor restos tales como:
      papeles y cartón manchados de
      grasa o aceite, pequeños restos
      vegetales de flores y hojas,
      tapones de corcho y serrín.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/organicosno.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Que NO depositar al contenedor orgánico
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      NUNCA deposites en el contenedor de ORGÁNICO
      polvo de barrer, colillas y ceniza de cigarrillos o de una chimenea.
      Textil sanitario como: pañales, compresas y tampones,
      bastoncillos para los oídos, toallitas húmedas, hilo dental.
      Residuos de curas domésticas como:
      tiritas, esparadrapo, vendas, gasas, algodón, etc.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-img src="/assets/restos.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Contenedor De Resto</ion-card-title>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      OTROS RESIDUOS <br>
      Todos aquellos residuos que no
      sean envases, o que no tengan un
      sistema específico de recogida en
      tu municipio, deberán depositarse
      en el contenedor de resto de
      residuos, como en el caso de los
      residuos de pañales.
      Depositaremos también en este
      contenedor restos tales como: una
      sartén estropeada, vajilla o
      cubiertos, juguetes rotos, cristales,
      objetos de plástico o metal que
      no sean envases, etc.
    </ion-card-content>
    <ion-button class="centrar" click="onClick()" expand="block" fill="clear" shape="round"
      href="https://www.ecoembes.com/es" target="_blank">
      Más información
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/12.jpeg"></ion-img>
    <ion-card-header>
      <ion-card-title class="centrar" style="color: white;">Puntos Limpios y Verdes</ion-card-title>
      <ion-card-subtitle class="centrar" style="color: white;">¿Cuales son sus diferencias?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="centrar" style="color: white;">
      Un punto Limpio es una instalación fija en lugares de acceso público donde reciben selectivamente
      residuos entregados por la población para su almacenamiento, posible pretratamiento y envío a centros de acopio
      o
      a
      instalaciones de valorización o eliminación. <br>
      <hr>
      Un punto Verde son uno o más contenedores fijos o móviles ubicados en lugares de acceso público donde reciben
      residuos específicos entregados por la población, para su almacenamiento y envío a instalaciones de valorización
      o
      eliminación. <br><br><br>

      Aquí encontrarás ubicaciones de puntos limpios y verdes.

    </ion-card-content>
    <ion-button class="centrar" click="onClick()" expand="block" fill="clear" shape="round"
      href="https://rechile.mma.gob.cl/donde-reciclar/" target="_blank">
      Puntos
    </ion-button>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar class="color">
    <div class="footer-buttons">
      <ion-buttons slot="start">
        <ion-button id="changeText" routerLink="/noticias">
          <div class="button-content">
            <ion-icon class="botones" name="newspaper"></ion-icon>
            <div class="button-label">Noticias</div>
          </div>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button id="changeText" routerLink="/inicio">
          <div class="button-content">
            <img src="/assets/logonav.png">
          </div>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button id="changeText" routerLink="/logout">
          <div class="button-content">
            <ion-icon class="botones" name="log-out"></ion-icon>
            <div class="button-label">Salir</div>
          </div>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>