ion-content {
    --ion-background-color: #26262D;
}

.color {
    --background: #000000;
}

.header {
    --background: #000000;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-buttons ion-button {
    margin: 0 50px;
}

.button-label {
    font-size: 12px;
    margin-top: 5px;
    color: white;
}

.botones {
    color: #A4CF47;
}

.centrar {
    text-align: justify;
    text-align: center;
}

.centerbaloo {
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: x-large;
}