<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar class="header" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button class="botones1" text="Atrás">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Baloo Tamma 2', cursive; color: white;">Info. Aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br><br><br>
  <h4 class="ion-text-center" style="color: white;">RecycleApp</h4>
  <p class="ion-text-center" style="color: white;">Versión 0.0.1</p>
  <img src="/assets/logosl.png" class="logo">
  <p class="ion-text-center" style="padding: 1%; color: white;">© RecycleApp by Bastián Alvarado & Yanara Hidalgo</p>

</ion-content>