<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">

<ion-content>
  <img src="/assets/logo.png" class="logo"><br>
  <div class="titulos">
    <h1>¡Bienvenido a RecycleApp!</h1>
    <h4>Inicie Sesión para continuar</h4>
  </div>
  <div class="container">
    <ion-item color="medium">
      <ion-input [(ngModel)]="email" type="text" name="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item color="medium">
      <ion-input [(ngModel)]="password" type="password" name="password" placeholder="Contraseña"></ion-input>
    </ion-item><br>
    <ion-button expand="block" (click)="onSubmitLogin()">
      Iniciar sesión
    </ion-button><br>
  </div>
  <p style="text-align: center; color: white;">
    ¿No tienes una cuenta? <a style="text-align: center;" routerLink="/registro">Haz click aquí</a>
  </p>

</ion-content>