<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">

<ion-content>
  <div class="container">
    <h3 class="centerbaloo">¿Estás seguro de que quieres cerrar sesión?</h3><br>
    <div class="logout">
      <ion-button (click)="onLogout()">Cerrar Sesión</ion-button>
      <ion-button routerLink="/inicio" color="danger">Volver</ion-button><br><br>
    </div>
    <img src="/assets/logo.png" class="logo">
  </div>
</ion-content>