<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar class="header" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button class="botones1" text="Atrás">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Baloo Tamma 2', cursive; font-size: x-large; color: white;">Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
        *ngFor="let noticia of noticias; let i= index">

        <ion-card style="background-color: #26262D;">
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text" style="color: white;">{{i + 1 }}</span>
              <span class="noticia-name" style="color: white;">{{noticia.source.name}} </span>
            </ion-card-subtitle>
            <ion-card-title style="color: white;">{{noticia.title}}</ion-card-title>
          </ion-card-header>

          <ion-img *ngIf="noticia.urlToImage" [src]="noticia.urlToImage"></ion-img>

          <ion-card-content>
            <p class="noticia-description" style="color: white;">
              {{noticia.description}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>